.btn{
    background-color: floralwhite; 
    border: .5px solid blue;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.btn:hover {
    background-color: blue;
    color: white;
}

/* elements */
body {
  font: 400 16px 'Muli', sans-serif !important;
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  max-width: 100%;
  padding: 5px;
  text-align: center;
  overflow: auto;
}

ul{
  list-style-type: none;
  margin: 0 auto;
  padding: 0
}

li{
  background: slategrey;
  display: inline-block;
  margin: 5px;
  padding: 5px 7px;
}

li > a {
  color: white; 
  font-size: 16px;
}

li > a:hover{
  color: #262626;
  text-decoration: none;
}

.inner {
  padding: 30px;
}
/* headings */

.container-fluid h2 {
  font-family: 'Montserrat', sans-serif;
}

.site-title {
  font-size: 50px;
  font-weight: 300;
  text-transform: uppercase;
}

/* table */
table {
    border-collapse: collapse;
}

th{
    background-color: #74AFAD;
}