<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  
  <servlet>
    <servlet-name>signup</servlet-name>
    <servlet-class>com.finalproject.Signup</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>feedback</servlet-name>
    <servlet-class>com.finalproject.Feedback</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>feedback</servlet-name>
    <url-pattern>/feedback</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>request-service</servlet-name>
    <servlet-class>com.finalproject.RequestService</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>request-service</servlet-name>
    <url-pattern>/request-service</url-pattern>
  </servlet-mapping>
  
</web-app>